body{
    margin:0 auto;
    text-align:center;
    background-color: #f4cea7 !important;
    margin-bottom: 50px;
}
@font-face {
    font-family: myFont;
    src: url('../font/Heaven Matters Personal Use.ttf');
}
.clear{
    clear: both;
}
.left{
    float :left;
}
.right{
    float: right;
}
.head{
    width:100%;
    margin:0 auto;
    height: 10px;
    background: #A75858;
}
.logo-bar{
    margin: 0 auto;
    width:80%;
}
.logo img{
    margin-top:5px;
}
.menu-bar{
    margin:0 auto;
    margin-top:25px;
    border-radius: 10px 10px 0px 0px;
    background: #AF5D5F;
}
.name-logo{
}
.name-logo h1{
    margin:0;
    margin-left:1%;
    margin-top:4px;
    width:100%;
}
.name-logo h1 a{
    color:#fff;
    font-size: 25px;
    font-family:myFont;
    text-decoration: none;
    outline: none;
    padding-left:10px;
}
.home{
    margin-left: 10px;
}
.home h2 a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
}
.home h2{
    width:100%;
}

.icon-list{
    text-align: right;
    margin-right:3%;
    margin-top:17px;
}
.icon-list ul{
    list-style-type:none;
    display: inline;
}
.icon-list ul li{
    display: inline;
    padding: 0px 3px;
    position: relative;
}
.icon-list ul li a{

}
.icon-list ul li a img{
    width:32px;
    border-radius: 10px;
}
.slider-wrap{
    width:95%;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:20px;
}
.item{
    width:95%;
    margin:0 auto;
    padding: 3% 0px;
    border-radius: 5px;
}
.thumbnail{
    width:95%;
    margin:0 auto;
}
.main-wrapper{
    margin: 0 auto;
    padding-bottom: 20px;
    box-shadow: 1px 0px 2px #F5ECE3;
    background: #fff;
}
.end-line{
    border-bottom: 2px solid #EEE5DC;
    width:80%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.body-wrapper{
    margin: 0 auto;
    width:96%;
}
.wrapper{
    display: inline-block;
    margin-bottom: 15px;
    max-height: 200px;
    overflow: hidden;
}
.img{
    padding: 5px;
    width:24%;
    height: auto;
    background: #E3DCD1;
    border: 3px solid #FAF7F5;
}
.img img{
    width:100%;
}
.contant{
    width:71%;
    text-align: left;
    margin:5px 10px;
}
.contant h2{
    margin:0;
    color: #555450;
    font-style: italic;
}
.contant p{
    color:#999894;
    text-align: justify;
    margin: 0;
    max-height: 160px;
    overflow: hidden;
}
.contibue-btn{
    background: #E4D4BB;
    border:1px solid #CBC3B6;
    color: #6d665b;
    font-style: italic;
    border-radius: 2px;
    padding: 3px;
    font-weight: 900;
}
.paging{
}
.paging ul{
    margin: 0;
    padding: 0;
}
.paging ul li{
    list-style-type: none;
    border: 2px solid #E4D4BB;
    border-right:none; 
    display:inline;	
    padding: 10px 0px;
    text-align: center;
}
.paging ul li:last-child{
    border-right: 2px solid #E4D4BB;
    border-radius: 0px 6px 6px 0px;
}
.paging ul li:first-child{
    border-radius: 6px 0px 0px 6px;
}
.active-page {
    background: #E4D4BB;
}
.active{
    background: #F1EADF;
}
.paging ul li a{
    text-decoration: none;
    padding: 10px;
    color: #BDB2A4;
    font-size: 20px;
    font-weight: 900;
    outline: none;
}
.footer{
    padding: 10px 0px;
    border-radius: 0px 0px 10px 10px;
    background: #AF5D5F; 
}
.footer a{
    text-decoration: none;
    font-size: 18px;
    color:#fff;
}
.owl-nav{
    display: none;
}
.owl-next{
    float: right;
}
.owl-prev{
    display:none;
}
.prev{
    margin-top:10%;
    margin-left:-4.5%;
    float: left;
}
.prev img{
    border-radius:100% 0% 0% 100%;
}
.next{
    margin-right: -4.5%;
    margin-top: 10%;
    transform:rotate(180deg);
    float: right;
}
.next img{
    border-radius:100% 0% 0% 100%;
}
.diary{
    background: #212121;
}
.new-enrty{
    color:#fff;
    margin:0;
}
.new-entry h1{
    color:#fff;
    text-align: left;
    font-weight: normal;
    padding: 10px 0px 10px 8%;
    margin:0;
}
.main{
    padding-top:10px;
    padding-bottom:25px;
    border:2px solid #474747;
    border-radius: 10px;
    width:71%;
    background-image: url('../img/mian_back.png');
    margin:0 auto;
    margin-left:70px;
}
.contant-diary{
    background-image: url('../img/back.PNG');
    background-repeat: repeat-y;
    background-size: 100% auto; 
    margin:0 auto;
    width:100%;
    margin-left:-4.9%;
}
.text-line{
    margin:0 auto;
    margin-left:13.5%;
    margin-top: 10px;
    border:none;
    width:85%;
    resize: none;
    background-image: url('../img/line.PNG'); 
    background-repeat: repeat-y;
    font-size:18px;
    line-height: 21px;
    height:650px;
    overflow:hidden;
    text-align: justify;
    background-size: 100% auto;
    outline: none;
    max-width: none;
}
.button{
    margin:0 auto;
    height:700px;
    width: 19%;
    position: relative;
}
.top-btn{
    margin:0 auto;
    width:95%;
}
.drafts{
    border: none;
    margin:0 auto;
    letter-spacing: 1px;
    font-size: 22px;
    background: #D9D9D9;
    border-radius: 4px;
    width:75%;
    outline: none;
    color: #000000;
    box-shadow: 0px 3px 10px #84868C;
}
.option{
    text-align: left;
    width:92%;
    margin-top:10%;
}
.setting{
    width:15%;
    margin-left:-3%;
    border:none;
    background: #212121;
    border-radius: 100%;
}
.setting img{
    width:100%;
    border-radius: 100%;
}
.select{
    width:75%;
    text-align: left;
    padding: 0;
    -webkit-padding-before:10px;
    -webkit-padding-end:0;
    -webkit-padding-after:10px;
    -webkit-padding-start:0;
    margin-right: 8%;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url('../img/arrowdown.gif') no-repeat 90% 50%;
}
.select select{
    outline: none;
    padding: 0px 10px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select select option{
    padding: 5px 0px;
    -webkit-padding-before:10px;
    -webkit-padding-end:0;
    -webkit-padding-after:10px;
    -webkit-padding-start:0;
    text-align: center;
    width: 100%;
    border: none;
    border-bottom:1px solid #222;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.bottom-btn{
    margin:0 auto;
    position: absolute;
    bottom:0;
}
.save{
    width:75%;
    margin-left:-10%;
    margin-bottom:15px;
    border: none;
    font-size: 18px;
    background: #D9D9D9;
    border-radius: 4px;
    outline: none;
    color: #000000;
    box-shadow: 0px 3px 8px #84868C;
}
.done{
    width:75%;
    margin-left:-10%;
    border: none;
    font-size: 20px;
    background: #D9D9D9;
    border-radius: 4px;
    outline: none;
    color: #000000;
    box-shadow: 0px 3px 8px #84868C;
}
@media screen and (min-width:1900px){
    .text-line{
        background-size: 100% 3.3%;
    }
}
@media screen and (max-width:1200px){
    .text-line{
        background-size: 112%;
    }
}
@media screen and (max-width:1100px){
    .save{
        font-size: 15px;
    }
    .done{
        font-size: 15px;
    }
    .text-line{
        background-size: 120%;
    }
}
@media screen and (max-width:1000px){
    .next{
        margin-top:13%;
    }
    .prev{
        margin-top:13%;
    }
    .button{
        width: 17%;
    }
    .text-line{
        background-size: 139%;
    }
}
@media screen and (max-width:950px){
    .slider-item{
        width:29.5%;
    }
    .contant{
        width: 68%;
    }
    .main{
        width:68%;
    }
    .button{
        width:20%;
    }
    .text-line{
        background-size: 152%;
    }
}
@media screen and (max-width:850px){
    .next{
        margin-right:-6% 
    }
    .prev{
        margin-left:-6% 
    }
    .main{
        width:65%;
    }
    .button{
        width:18%;
    }
    .top-button{
        width:80%;
    }
    .drafts{
        letter-spacing: 0px;
        font-size: 18px;
    }
    .select select{
        padding: 0px 8px;
    }
    .select select option{
        padding: 4px 0px;
    }
    .text-line{
        background-size: 178%;
    }
}
@media screen and (max-width:700px){
    .icon-list{
        float: left;
        text-align: left;
        margin-left:-30px;
    }
    .logo img{
        width:70%;
    }
    .contant p{
        font-size: 13px;
    }
    .contant h2{
        font-size: 15px;
    }
    .contiue-btn{
        font-size: 15px
    }
    .paging ul li{
        padding: 5px 0px;
    }
    .paging ul li a{
        padding: 5px;
        font-size: 13px;
    }
    .footer a{
        font-size: 13px;
    }
    .top-button{
        width:70%;
    }
    .drafts{
        letter-spacing: 0px;
        font-size: 15px;
    }
    .text-line{
        background-size: 220%;
    }
}
@media screen and (max-width:600px){
    .contant{
        width:65%;
    }
    .next{
        margin-right:-7%;
        margin-top:30%;
    }
    .prev{
        margin-left:-7%;
        margin-top:30%;
    }
    .button{
        float: left;
        width:96%;
        height: auto;
        margin:0 auto;
        margin-left:5%;
        margin-top:10px;
    }
    .option{
        float:left;
        margin-top:0;
        width:24%;
    }
    .top-btn{
        float: left;
        width:24%;
    }
    .main{
        width:85%;
        margin-left:7%;
    }
    .bottom-btn{
        position:inherit;
        float:left; 
        width:49%;
    }
    .save{
        float: left;
        width:49%;
        margin-left:0;
        margin-bottom:0px;
        border: none;
        font-size: 14px;
        background: #D9D9D9;
        border-radius: 4px;
        outline: none;
        color: #000000;
        box-shadow: 0px 3px 8px #84868C;
        margin-right: 6px;
    }
    .done{
        float: left;
        width:35%;
        margin-left:0%;
        border: none;
        font-size: 13px;
        background: #D9D9D9;
        border-radius: 4px;
        outline: none;
        color: #000000;
        box-shadow: 0px 3px 8px #84868C;
    }
    .select select option{
        padding: 1px 0px;
    }
    .text-line{
        background-size: 195%;
    }
}
@media screen and (max-width:500px){
    .logo{
        margin-left:-50px;
    }
    .logo img{
        width:50%;
    }
    .media{
        height:20px;
        width:25%;
    }
    .media_list img{
        width:60%;
    }
    .next{
        margin-right:-8.5%;
    }
    .prev{
        margin-left:-8.5%;
    }
    .text-line{
        background-size: 235%;
    }
    .option{
        width:48%;
        margin-right: 10px;
    }
    .top-btn{
        width:45%;
    }
    .bottom-btn{
        margin-top: 10px;
        width:97%;
        margin-left:24px;
    }
    .save{
        width:35%;
        margin-left:-7px
    }
    .done{
        float: right;
        margin-right: 53px;
    }
}
@media screen and (max-width:360px){
    .text-line{
        background-size: 320%;
    }
    .contant{
        float: left;
        width:95%;
        text-align: left;
        padding-bottom: 3px;
        margin:5px 10px;
        border-bottom: 1px solid #E4D4BB;
    }
    .img{
        width:95%;
    }
}
@media screen and (max-width:320px){
    .text-line{
        background-size: 356%;
    }
}

.draft{
      background: #262626;
}
.draft-content{
      background:#ABACB2;
      margin:0 auto;
      width:80%;
      height: 151px;
      background-image: url('../img/line-draft.png');
      margin-bottom: 3px;
}
.draft-content p{
      margin:0px 25px 0px 30px;
      line-height: 24.5px;
      font-size: 18px;
      padding-top: 2px;
      overflow: hidden;
      max-height: 100%;
      text-align: justify;
}

.post-footer {
    color: #D2D2D2;
    margin-bottom: 40px;
    margin-left: 270px;
    text-align: left;
}

.draft-post-delete{
    color: #ff736f;
    float: right;
    margin-right: 60px;
}

.draft-post-link{
    color: black;
    text-decoration: none;
}
.main_dtaft{
      width:90%;
      margin:40px auto 0;
      height: 151px;
}

.img_draft{
      width:19%;
}
.img_draft img{
      width:90%;
      height: 151px;
}

.post-search{
    margin: 0 auto;
    width: 90%;
    color:white;
    text-align: right;
}

.comment{
      border-radius: 5px;
      background: #FEFCF7;
}
.comment-heading{
      margin:0;
}
.comment-heading h1{
      text-align: left;
      font-weight: normal;
      padding: 10px 0px 10px 8%;
      margin:0;
}
.comment-body{
      width:80%;
      margin:20px auto;
      margin-bottom: 30px;
}
.comment-img{
      width:20%;
}
.comment-img img{
      width:90%;
      height: auto;
}
.comment-content{
      margin:0 auto;
      width:80%;
      color:black;
      height: auto;
      max-height: 255px;
      background:#f1c6a4;
      position: relative;
}
.comment-content p{
      width:95%;
      text-indent: 50px;
      margin:0 auto;
      line-height: 24.5px;
      font-size: 18px;
      padding-top: 2px;
      padding-right:10px;
      overflow-y: auto;
      overflow-x: hidden;
      min-height: 100px;
      max-height: 195px;
      text-align: justify;
}

.comment-content-cust{
      width:95%;
      text-indent: 50px;
      margin:0 auto;
      line-height: 24.5px;
      font-size: 18px;
      padding-top: 2px;
      padding-right:10px;
      overflow-y: auto;
      overflow-x: hidden;
      min-height: 100px;
      max-height: 195px;
      text-align: justify;
}


.date{
      text-align: right;
      margin:5px 15px;
}
.mode{
      text-align: right;
      margin:5px 15px;
}
.comment-on{
      margin:0 auto;
      width:80%; 
      margin-bottom: 10px;
      color: #af5d5f;
}
.comment-post{
      margin:15px auto;
      width:80%;
      margin-bottom: 15px;
      position: relative;
}
.comment-box{
      width:98.8%;
      border: 1px solid #af5d5f;
      min-height: 25px;
      text-align: left;
      line-height: 24.5px;
      font-size: 18px;
      padding: 5px 10px;
      max-height: 50px;
      overflow-y:auto;
      color:#4D4A4A;

}
.comment-posted{
      padding: 0px 10px;
      color: #a6a6a6;
}
.comment-text{
      margin:15px auto;
      width:80%;
      border: 1px solid #af5d5f;
      margin-bottom: 20px;
      border-radius: 10px;
      overflow: hidden;
}
.comment-sign-img{
      padding:5px;
      width:5%;
}
.comment-sign-img img{
      width:auto;
}
.comment-input{
      width:80%;
}
.comment-input input{
      width:100%;
      padding:5px 0px;
      font-size: 17px;
      border: none;
}
.comment-btn{
      width:10%;
      margin: 4px 15px 0 0;
}
.comment-btn button{
      border:none;
      color:#fff;
      padding: 2px 5px;
      background:#606372;
      margin:5px 10px 5px 5px;
}
@media screen and (max-width:1000px){
      .comment-box{
              width:95%;
      }
}
   .notification-view:hover .notification{
      display: block;

}
.notification{
      display: none;
      position: absolute;
      width:275px;
      z-index: 999;
      right:0;
}
.top-arrow{
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #E0E0E0;
      margin-right: 10px;
}
.notification-box{
      margin-top:10px;
      width:100%;
      box-shadow: 0px 0px 1px 1px #E0E0E0;
      background: #fff;
      max-height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
}
.notification-box ul{
      width:100%;
      margin: 0;
      padding: 0;
}
.notification-box ul li{
      list-style-type: none;
      margin:0;
      padding: 0;
}
.notif{
      width:251px;
      border: 2px solid transparent;
      border-bottom: 2px solid #E0E0E0;
      padding: 10px;
}
.notif:hover {
      border:2px solid #AF5D5F;
}
.notif:hover   .btn-notif{
      display: block;
}
.notification-text{
      width:210px;
      text-align: justify;
}
.notification-text span{
      margin:0;
      padding:0;
}
.notification-close button{
      border:none;
      background: transparent;
}
.btn-notif{
      display: none;
      margin-right: 15px;
      width:10px;
}
.btn-notif button{
      border: none;
      background:transparent;
      color:#AF5D5F
}

.home .cust-menu-h2{
    display: inline-block;
    width:auto;
    margin: 12px 0;
}

.comment-post .delete-comment{
    position: absolute;
    right: -26px;
    top: 10px;
    width: 20px;
}

.navbar-header {
    float: left;
    margin-top: 40px;
}

.color-white{
    color:white;
    margin-left: 30px;
    font-weight: bolder;
}

.p-cust-class {
    margin: 0 0 11px 10px !important;
}

.h2, .h2 {
    font-size: 34px;
    margin-top: 55px;
}

.navbar-inverse {
    background-color: #f4cea7 !important;
    border-color: #f4cea7 !important;
}

.cust-footer-color{
    color: #33333a !important;
}
